body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .contact-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
  }
  
  .contact-container {
    display: flex; 
    justify-content: space-between;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap; /* Para que se adapte en pantallas pequeñas */
}
  .contact-info {
    flex: 1;
    padding: 40px;
    background-color: #f7f5f0;
  }
  
  .contact-info h2 {
    font-size: 28px;
    color: #722c1c;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
  }
  
  .info-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .info-item i {
    font-size: 20px;
    color: #722c1c;
    margin-top: 4px;
  }
  
  .contact-form {
    flex: 1;
    padding: 40px;
    background-color: #fff;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 20px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #7b2c20;
    outline: none;
  }
  
  .checkbox {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .checkbox input {
    margin-right: 8px;
  }
  
  .contact-form button {
    background-color: #7b2c20;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .contact-form button:hover {
    background-color: #5a2015;
  }