body{
    background-color: rgb(255, 126, 216);
}


.formulario {
    border: 2px solid #474b4e;
         display: flex;
         justify-content: center;
         place-items: center;
         text-align: center;
         
}
.logo{
    width:100px;
    height: 100px;
}


/*CSS menu*/
.flex.space-x-4.text-sm.font-medium{
    gap: 20px;
    font-size: 20px ;
}


/*CSS color fondo banner*/
.bg-pink-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(126, 206, 255);
}



.titulo-banner-2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
  }


/*CSS Botones*/

.bg-pink-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(236 72 153 / var(--tw-bg-opacity, 1));
}


/*cuando pasa el mouse*/
.hover\:bg-pink-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(219 39 119 / var(--tw-bg-opacity, 1));
}

/*FIN CSS BOTONES*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
  }

